
@model Hotal_Management_System.ViewModel.ClsBooking
@{
    ViewBag.Title = "Index";
}

<div style="margin-top:20px">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#divNewBooking" data-backdrop="static" data-keyboard="false"> New Booking </button>
</div>

<div id="divNewBooking" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> New Booking</h4>
            </div>
            <div class="modal-body">
                <form id="formRoom">
                    <div class="container col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(expression: model => model.CustomerName, htmlAttributes: new { @class = "control-label" })
                                @Html.TextBoxFor(expression: model => Model.CustomerName, htmlAttributes: new { @class = "from-control" })
                                @Html.ValidationMessageFor(expression: model => model.CustomerName, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(expression: model => model.CustomerAddress, htmlAttributes: new { @class = "control-label" })
                                @Html.TextBoxFor(expression: model => Model.CustomerAddress, htmlAttributes: new { @class = "from-control" })
                                @Html.ValidationMessageFor(expression: model => model.CustomerAddress, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(expression: model => model.CustomerPhoneNumber, htmlAttributes: new { @class = "control-label" })
                                @Html.TextBoxFor(expression: model => Model.CustomerPhoneNumber, htmlAttributes: new { @class = "from-control" })
                                @Html.ValidationMessageFor(expression: model => model.CustomerPhoneNumber, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(expression: model => model.BookingFrom, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(expression: model => model.BookingFrom, additionalViewData: new { @class = "from-control" })
                                @Html.ValidationMessageFor(expression: model => model.CustomerAddress, validationMessage: null, htmlAttributes: new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(expression: model => model.BookingTo, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(expression: model => model.BookingTo, additionalViewData: new { @class = "from-control" })
                                @Html.ValidationMessageFor(expression: model => model.BookingTo, validationMessage: null, htmlAttributes: new { @class = "text-danger" })

                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(expression: model => model.BookingTo, htmlAttributes: new { @class = "control-label" })
@Html.DropDownListFor(expression:model=>model)
                            </div>
                        </div>
                    </div>

                </form>


            </div>
            <div class="modal-footer">
                <button type="button" id="btnsave" class="btn btn-success">Save</button>&nbsp;
                <button type="button" data-dismiss="modal" class="btn btn-danger">close</button>
            </div>
        </div>

    </div>
</div>
<div style="margin-top:70px"></div>
@*<div id="DivLoadRoomDetails">

</div>*@
