
@model  IEnumerable<Hotal_Management_System.ViewModel.ClsRoomDetailVIewModel>




<table id="table1" style="width:100%">
    <thead>
    <th>
        Action
    </th>
    <th>
        Room Image
    </th>
    <th>
        Room No.
    </th>

    <th>
        Booking Status
    </th>
    <th>
        Room Type
    </th>

    <th>
        Room Description
    </th>
    <th>
        Room Capacity
    </th>
    <th>
        Room Price
    </th>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <span id="btndelete" class="glyphicon glyphicon-trash" onclick="deleteRoom(@item.RoomID)"></span> &nbsp;&nbsp;
                    <span id="btnedit" class="glyphicon glyphicon-pencil" onclick="EditRoom(@item.RoomID)"></span>
                </td>
                <td>
                    <img src="@Url.Content("~/RoomImages/"+item.RoomImage)" width="30" height="30" class="img-responsive" />
                </td>
                <td>
                   @item.RoomNo
                </td>
                <td>
                    @item.BookingStatus
                </td>
                <td>
                    @item.RoomType
                </td>

                <td>
                    @item.RoomDescription
                </td>
                <td>
                    @item.RoomCapecity
                </td>
                <td>
                    @item.RoomPrice
                </td>

            </tr>
        }
    </tbody>
</table>